input {
    width: 15%;
    padding: 5px;
    margin: 5px;
    border: 0px;
}

input[type=text] {
    background-color: #000000;
    color: #FFFFFF
}

input[type=password] {
    background-color: #000000;
    color: #FFFFFF
}

input[type=email] {
    background-color: #000000;
    color: #FFFFFF
}

select {
    width: 15%;
    padding: 5px;
    margin: 5px;
    border: 0px;
    background-color: #000000;
}